<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    
    <link rel="icon" href="img/weather.png">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    
    <div class="main-content">
        {{>header}}
        <p>Hi There! This is a simple weather app. The latitude and longitude of the location entered by the user is fetched from mapbox.com and this data is used to fetch the weather data from weatherstack.com</p>
    </div>

    {{>footer}}
</body>
</html>